main .contact-form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68em;
    height: auto;
    box-shadow: 0px 19px 39px -3px rgba(0, 0, 0, 0.6);
    border-radius: 163px;
    background: linear-gradient(180deg, #49D49D 0%, #23A5DC 100%);;
    border: solid #1b1e22;
}

.form-box-container {
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
}


main .contact-form {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 1em;
}

main .contact-form label {
    color: #1b1e22;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 1em;
    padding-bottom: .2em;
}

main .contact-form input {
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    width: 50em;
    height: 3em;
    border-radius: 30px;
    border: solid 2px #1b1e22;
    padding-left: 1em;
    background: #f7f7ff;
    color: #1b1e22;
    box-shadow: 0px 19px 39px -3px rgba(0, 0, 0, 0.5);
    
}

main form .form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.form-group .message-field {
    height: 20em;
    font-family: 'Comfortaa', cursive;
    font-size: medium;
    border-radius: 30px;
    border: solid 2px #1b1e22;
    padding-left: 1em;
    padding-top: 1em;
    background: #f7f7ff;
    color: #1b1e22;
    box-shadow: 0px 19px 39px -3px rgba(0, 0, 0, 0.5);
    resize: none;
}

form input[type=submit] {
    width: 20em;
    background: #f7f7ff;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
    padding-left: 0;
    text-align: center;
}

form input[type=submit]:hover {
    background-color: #3f403a;
    color: #f7f7ff;
}

form .form-group.submit {
    padding-top: 1em;
    display: flex;
    align-items: center;
}

main .contact-form input:focus {
    outline-width: 0px;
}

main .contact-form textarea:focus {
    outline-width: 0px;
}

main .contact-form input::placeholder {
    color: #9299a1;
}

main .contact-form textarea::placeholder {
    color: #9299a1;
}

.hide-confirm {
    display: none;
}

.hide-confirm.show {
    display: block;
}

main .sent-message {
    text-align: center;
    font-weight: bolder;
    color: #1b1e22;
}

@media only screen and (max-width: 1000px) {
    main .contact-form-box {
        display: block;
        width: auto;
        height: auto;
    }

    .form-box-container {
        display: block;
        justify-content: center;
        padding-bottom: 6em;
    }
    
    
    main .contact-form {
        padding: 20px 40px;
        padding-top: 60px;
    }
        
    main .contact-form input {
        width: auto;
    }
            
    form input[type=submit] {
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    main .contact-form-box {
        border-radius: 100px;
    }

    form input[type=submit] {
        width: 60%;
    }

    main .contact-form {
        padding: 10px 15px;
        padding-top: 30px;
    }

    main .contact-form label {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    
    main .form-group.submit {
        padding-bottom: 1em;
    }

}

@media only screen and (max-width: 600px) {
    main .contact-form {
        padding-top: 3em;
        padding-bottom: 2em;
    }
    

}