
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
    padding-right: 4%;
    font-weight: bolder;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    padding-left: 2em;
}

.nav-links li {
    display: inline-block;
    padding: 0 5em;
}

.nav-links li a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links li a:visited {
    text-decoration: none;
    color: #1B1E22;
}

.nav-links a.active {
    text-decoration: underline;
    text-decoration-thickness: .15em;
    text-decoration-color: #1B1E22;
}

.nav-links li a:hover {
    color: #23a5dc;
    text-decoration-color: #23a5dc;

}

header button {
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    padding: 9px 25px;
    background-color: #23a5dc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: #3f403a;
    color: #f7f7ff;
}

@media only screen and (max-width: 692px) {
    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2em 0;
        padding-right: 0;
        font-weight: bolder;
    }

    .nav-links li {
        display: flex;
        padding: 1em;
    }

    .nav-links {
        padding-left: 0;
    }
}